body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
}


#left {
/*  position: absolute;*/
  height:500px;
  overflow-y: scroll;
}

.well{
height:100px;
background-color: white;
}

img {
  max-width: 100%;
}

img #primary{
  height:500px;

}

.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: block;
    padding: 4px 6px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px;
    cursor: text;
}

.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    width: auto;
    max-width: inherit;
}

.btn:focus,.btn:active {
   outline: none !important;
   background-color: white
}

.login {
  position: absolute;
  top: 10px;
  right: 10px;
}

#signUpNow {
  display: inline;

}

#signUpForm {
  display: block;
  text-align: center;
}


/*.navbar {
  border: 1px solid black;
  box-sizing: border-box;
  height: 100px
}

.navbar .row .form-inline.float-xs-right {
    position: absolute;
    right: 0;
}*/
