body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
}


#left {
/*  position: absolute;*/
  height:500px;
  overflow-y: scroll;
}

.well{
height:100px;
background-color: white;
padding: 5px;
}

img {
  max-width: 100%;
}

#primary{
  height:500px;

}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.btn:focus,.btn:active {
   outline: none !important;
   background-color: white
}

.login {
  position: absolute;
  top: 10px;
  right: 10px;
}

#signUpNow {
  display: inline;

}

#signUpForm {
  display: block;
  text-align: center;
}

#plusSign {
  border: 1px solid black;
}

.container {
  margin-top: 10px;
}

.display-1 {
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
}


/*.navbar {
  border: 1px solid black;
  box-sizing: border-box;
  height: 100px
}

.navbar .row .form-inline.float-xs-right {
    position: absolute;
    right: 0;
}*/
