body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
}


#left {
/*  position: absolute;*/
  height:475px;
  overflow-y: scroll;
}

.well{
height:100px;
background-color: white;
padding: 5px;
}

img {
  max-width: 100%;
}

#primary {
  height:500px;

}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.btn:focus,.btn:active {
   outline: none !important;
   background-color: white
}

.login {
  position: absolute;
  top: 10px;
  right: 10px;
}

#signUpNow {
  display: inline;

}

#signUpForm {
  display: block;
  text-align: center;
}

#plusSign {
  border: 1px solid black;
}

.container {
  margin-top: 10px;
}

.display-1 {
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
}



/*
carousel-control without transparent area
*/
.carousel-control {
   height:0;
   top:50%;
}

/*
carousel background white
*/
.carousel {
      background: url(http://www.solidbackgrounds.com/images/2560x1440/2560x1440-white-solid-color-background.jpg);
      position: relative;
      padding: 10px;     /* Shows as a border around the carousel */
  }


/*
carousel arrow color
*/
.glyphicon.glyphicon-chevron-right{
   color:black;
}

.glyphicon.glyphicon-chevron-left{
   color:black;
}

/*
carousel indicator color
*/
.carousel-indicators .active{
  background-color:black;
}

.carousel-indicators li{
  background-color:black;
  opacity: 0.5;
  width: 15px;
  height: 15px;
}


/*
Sign Up Failed modal color
*/
.modal-header-danger {
  color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.modal-header-cool {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}


/*.navbar {
  border: 1px solid black;
  box-sizing: border-box;
  height: 100px
}

.navbar .row .form-inline.float-xs-right {
    position: absolute;
    right: 0;
}*/
