Mac OSX ##
.DS_Store

## NPM ##
node_modules/

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# Floobits #
.floo
.flooignore
~

# Cloudinary #
client/cloudinary/cloudinary.env

# Env #
.env
