<div class="container">

  <!-- container for nav bar -->
  <navbar handleclickhome="$ctrl.handleClickHome" handlesearchresults="$ctrl.handleSearchResults" logout="vm.auth.logout">
    <div>
      <p> Nav bar goes here. </p>
    </div>
  </navbar>
  <!-- ================ NAV BAR ================== -->

  <inventory recipes="recipes" on-click="$ctrl.selectRecipe"></inventory>
  <!-- <inventory-entry ng-repeat="recipe in $ctrl.recipes" recipe="recipe" on-click="$ctrl.onClick">
    </inventory-entry> -->
  <!-- <div class="grid">
      <div class="grid-item"></div>
  </div> -->

  


</div>