<div >
 <login>
 </login>
<div class="container">
  <!-- container for nav bar -->
  <navbar
    handleclickhome="$ctrl.handleClickHome"
    handlesearchresults="$ctrl.handleSearchResults"
    logout="$ctrl.logout">
    <div>
      <p> Nav bar goes here. </p>
    </div>
  </navbar>
  <div class="row" ng-if="$ctrl.content">
    <!-- container for inventory -->
    <div class="col-sm-2">

      <div class="well text-center" ng-click="$ctrl.runUpload()">
          <img ng-src="http://res.cloudinary.com/toucans456/image/upload/v1503093150/uploadbutton_im30rh.png" height="100%" style="opacity: 0.7" width="auto" class="img-rounded img-fluid"/>

      </div>
      <div id="left">
        <inventory recipes="recipes" on-click="$ctrl.selectRecipe"></inventory>
      </div>
    </div>
    <!-- container for primary recipe -->
    <div class="col-sm-10">
      <primary-recipe
      recipe="primaryRecipe"
      photos="selectRecipePhotos"
      tags="selectRecipeTags"
      star="selectRecipeIsStarred"
      title="selectRecipeTitle"
      ></primary-recipe>
    </div>
  </div>
  <div ng-if="!$ctrl.content">
    <div class="col-sm-6 upload">
      <div class="upload-title">
        UPLOAD ME
      </div>
      <upload-recipe></upload-recipe>
    </div>
  </div>
</div>
