<div >
 <login>
 </login>
<div class="container">
  <!-- container for nav bar -->
  <navbar
    handleclickhome="$ctrl.handleClickHome"
    handlesearchresults="$ctrl.handleSearchResults"
    logout="$ctrl.logout">
    <div>
      <p> Nav bar goes here. </p>
    </div>
  </navbar>
  <div class="row" ng-if="$ctrl.content">
    <!-- container for inventory -->
    <div class="col-sm-2">
      <div class="well" ng-click="$ctrl.runUpload()">
        <img ng-src=https://www.shareicon.net/data/2017/05/24/886398_add_512x512.png class="img-rounded"/>
      </div>
      <div id="left">
        <inventory recipes="recipes" on-click="$ctrl.selectRecipe"></inventory>
      </div>
    </div>
    <!-- container for primary recipe -->
    <div class="col-sm-10">
      <primary-recipe recipe="primaryRecipe"></primary-recipe>
    </div>
  </div>
  <div ng-if="!$ctrl.content">
    <div class="col-sm-12">
      <upload-recipe></upload-recipe>
    </div>
  </div>
</div>
