<div>
 <form>
    <div class="form-group">
      <input type="text" class="form-control" id="recipeName" placeholder="Recipe Name">
      <label for="name">Recipe Name</label>
    </div>
    <div class="form-group">
        <input type="text" name="tags" placeholder="Tags" class="tm-input form-control tm-input-info"/>
      <label for="tags" >Tags</label>
    </div>
    <div class="form-group">
      <label for="exampleInputFile">File input</label>
      <input type="file" id="exampleInputFile">
    </div>
    <div class="checkbox">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

  <script type="text/javascript">
    $(".tm-input").tagsManager();
  </script>
</div>