<div class="grid">
  <inventory-entry class="grid-item animated zoomIn" ng-repeat="recipe in $ctrl.recipes" recipe="recipe" on-click="$ctrl.onClick" data-toggle="modal" data-target="#showDetail">
  </inventory-entry>
</div>








<!-- Original -->
<!-- <div class="float-left">
    <ul class="list-group">
      <li class="list-group-item">
        <inventory-entry
          ng-repeat="recipe in $ctrl.recipes"
          recipe="recipe"
          on-click="$ctrl.onClick"
        >
        </inventory-entry>
      </li>
    </ul>
  </div> -->