<!-- Page Wrapper -->
<div id="page-wrapper">

  <!-- Banner -->
  <section id="banner">
    <div class="inner">
      <h2>Recipes Archive</h2>
      <p>Saving your family legacy in one place.</p>
      <ul class="actions">
        <li ng-if="!auth.isAuthenticated()"><a ng-click="auth.login()" class="button special">Log In</a></li>
        <li ng-if="auth.isAuthenticated()"><a ng-click="auth.logout()" class="button special">Log Out</a></li>
      </ul>
      <button class="button team" data-toggle="modal" data-target="#team">Meet the Team</button>
    </div>
  </section>

  <!-- Modal Sign Up Form-->
  <!-- Modal -->
  <!-- <div class="modal fade bs-modal-sm" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <br>
        <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
              <li class=""><a href="#signup" data-toggle="tab">Register</a></li>
            </ul>
        </div>
      <div class="modal-body">
        <div id="myTabContent" class="tab-content">
        <div class="tab-pane active in" id="signin">
            <form class="form-horizontal">
            <fieldset> -->

  <!-- Sign In Form -->
  <!-- Text input-->
  <!-- <div class="control-group">
              <label class="control-label" for="userid">Username:</label>
              <div class="controls">
                <input required="" type="username" class="form-control" id="username" placeholder="Enter username" class="input-medium" ng-model="username">
              </div>
            </div> -->

  <!-- Password input-->
  <!-- <div class="control-group">
              <label class="control-label" for="passwordinput">Password:</label>
              <div class="controls">
                <input ng-model="password" type="password" class="form-control" id="pwd" class="input-medium" placeholder="Enter password">
              </div>
            </div> -->

  <!-- Button -->
  <!-- <div class="control-group">
              <label class="control-label" for="signin"></label>
              <div class="controls">
                <button id="signin" name="signin" class="btn btn-default"  ng-click="$ctrl.loginClick()">Sign In</button>
              </div>
            </div>

            </fieldset>
            </form>
        </div> -->

  <!-- Sign Up Form -->
  <!-- <div class="tab-pane" id="signup">
            <form class="form-horizontal">
            <fieldset> -->
  <!-- Text input-->
  <!-- <div class="control-group">
              <label class="control-label" for="userid">Username:</label>
              <div class="controls"> -->
  <!-- <input id="userid" name="userid" class="form-control" type="text" placeholder="JoeSixpack" class="input-large" required=""> -->
  <!-- <input type="text" class="form-control" id="signupUserId" placeholder="username" required="">
              </div>
            </div> -->

  <!-- Password input-->
  <!-- <div class="control-group">
              <label class="control-label" for="password">Password:</label>
              <div class="controls"> -->
  <!-- <input id="password" name="password" class="form-control" type="password" placeholder="********" class="input-large" required=""> -->
  <!-- <input type="password" class="form-control" id="signupUserPwd" placeholder="password" equired="">
                <em>1-8 Characters</em>
              </div>
            </div> -->

  <!-- Button -->
  <!-- <div class="control-group">
              <label class="control-label" for="confirmsignup"></label>
              <div class="controls">
                <button id="signin" name="signin" class="btn btn-default" ng-click="$ctrl.signUpClick()">Sign Up</button>
              </div>
            </div>

            </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
  <!-- Modal End-->

  <!-- Modal Sign up faild-->

  <!-- <div class="modal fade" id="signUpFailedModal" role="dialog" >
    <div class="modal-dialog"> -->
  <!-- Modal content-->
  <!-- <center>
      <div class="modal-content">
        <div class="modal-header modal-header-danger" >
          <h4 class="modal-title">Username already exists!</h4>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </center>
      </div>
    </div>
  </div> -->
  <!-- Modal End-->


  <!-- Modal LogIn failed-->
  <!-- <div class="modal fade" id="logInFailedModal" role="dialog" >
    <div class="modal-dialog"> -->
  <!-- Modal content-->
  <!-- <center>
      <div class="modal-content">
        <div class="modal-header modal-header-danger" >
          <h4 class="modal-title">Invalid username and/or password</h4>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      </center>
    </div>
  </div> -->
  <!-- Modal End-->

  <!-- Meet the Team -->

  <div class="modal fade modal-profile" id="team" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <center>
        
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title profileTitle">Meet the Legacy Team!</h2>
            <ul>
              <div class="profile">
                <li class="teamMember">
                  <a href="https://github.com/imkevinsu">
                  <img class="profileImage" ng-src="https://avatars3.githubusercontent.com/u/16744158?v=4&s=460">
                </a>
                  <p class="bio">Kevin Su enjoys long, romantic walks to the fridge in addition to applying Cloudinary and Google Cloud
                    Vision API.</p>
                </li>
              </div>
              <div class="profile">
                <li class="teamMember">
                  <a href="https://github.com/kevinlabs">
                  <img class="profileImage" ng-src="https://avatars3.githubusercontent.com/u/11247136?v=4&s=460">
                </a>
                  <p class="bio">Kevin Kim's new favorite past time is restructuring code neatly and writing beautiful CSS. His favorite
                    part is that he sees his changes immediately.</p>
                </li>
              </div>
              <div class="profile">
                <li class="teamMember">
                  <a href="https://github.com/Zhusufeng">
                  <img class="profileImage" ng-src="https://avatars3.githubusercontent.com/u/9065536?v=4&s=460">
                </a>
                  <p class="bio">Lisa Gee likes to drink green tea while adding Auth0 functionality.</p>
                </li>
              </div>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </center>
    </div>
  </div>

</div>